*{
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
	text-align: center;
	padding-top: 100px;
	background: #689976;
	background: linear-gradient(#689976, #ACDACC);
	font-family: 'Merriweather Sans', arial, verdana;
}
 
.breadcrumb{
  display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
}

.breadcrumb .breadcrumb__menu{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*
.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}


.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: "→";
  cursor: pointer;
} */
